<div id="<%= dom_id additional_service %>">
  <p>
    <strong>Additional service:</strong>
    <%= additional_service.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= additional_service.price %>
  </p>

</div>
