<div id="<%= dom_id additional_service %>">
  <p>
    <strong>Additional service:</strong>
    <%= additional_service.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(additional_service.price, unit: "R$ ", separator: ",", delimiter: ".") %>
  </p>

</div>
