<p style="color: green"><%= notice %></p>

<h1>Additional Services</h1>

<h3>
  <%= link_to "New additional service", new_additional_service_path %>
</h3>

<div id="additional_services">
  <% @additional_services.each do |additional_service| %>
    <hr>
    <%= render additional_service %>
    <p>
      <%= link_to "Show this additional service", additional_service %>
    </p>
    <hr>
  <% end %>
</div>
