<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= client.date_of_birth %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= client.age %>
  </p>

</div>
