<div id="<%= dom_id plan %>">
  <p>
    <strong>Plan name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(plan.price, unit: "R$ ", separator: ",", delimiter: ".") %>
  </p>

</div>
